parameters:
    checkMissingIterableValueType: false
    treatPhpDocTypesAsCertain: false
    level: 7
    paths:
        - src
        - tests/

    reportUnmatchedIgnoredErrors: true

    ignoreErrors:
        -
            message: "#^Else branch is unreachable because ternary operator condition is always true\\.$#"
            count: 1
            path: src/Command/AbstractHttpPostCommand.php
